body{background-color: #f2f2f2; overflow-x: hidden;font-family: 'Cairo', sans-serif;}
/* header and nav */
.navbar-light .navbar-brand{margin-left: 2%; color: #fff; }
.navbar-light .navbar-brand img{width: 80px; margin-right: -32px;}
.d-flex { display: flex!important; margin-left: 10%; width: 50%; margin-right: 5%;}
.navbar-expand-md .navbar-nav .nav-link{font-size: 14px;}
@media (min-width: 768px){
.navbar-expand-md .navbar-nav .nav-link {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    margin-left: 5%;
}
}
.navbar-light .navbar-nav .nav-link{color: #fff;}
nav.navbar{background-color: #7952b3; font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; border:solid #e7e7e7 1px; border-radius: 3px;}
.btn-outline-success{background-color: #fff; color: #333;}
.btn-outline-success:hover{background-color: #ffe484; color: #333;}
@media ( min-width: 768px) and (max-width: 2000px) {
   nav.navbar{height: 54px;}}
@media  (max-width: 768px) {
    .form-control{min-width: 150%;}
}
@media (max-width:768px) {
    .navbar-light .navbar-brand {margin-left: 2%; margin-top: -6%;margin-bottom: -7%;}
    .navbar-collapse{margin-top:3% ;}
}
.form-control:focus {color: #212529;background-color: #fff;border-color: #ffe484;outline: 0; box-shadow: 0 0 0 0.25rem rgba(247, 234, 56, 0.767);}
.form-control::placeholder{ font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 14px;}
@media( min-width: 768px) and (max-width:995px) {
    .navbar-expand-md .navbar-nav{margin-top: 8px;}}
.navbar-toggler:focus{background-color: #ddd; box-shadow: none;}
.navbar-toggler{border-color: #ddd;}
/* section */
.container-fluid .row .col-md-3 img{ background-color: #fff; border-radius: 10px; margin-bottom: 10px;}
.pro{font-family: 'Cairo', sans-serif;}
.T-chirt {margin-top: 30px;}
.header-pro .row  p{font-family: 'Cairo', sans-serif; font-size: 20px; font-weight: 800;}
.header-pro .row .col-1  a{width: 80px;background-color: #7952b3; text-decoration: none; color: #fff; font-size: 15px; padding: 2px; border-radius: 3px;padding-right: 7px;padding-left: 7px;}
@media (max-width:1130px) {
  .header-pro .row .col-1  a{margin-left: -20px;}
}
@media (max-width:900px) {
  .header-pro .row .col-1 a{margin-left: -40px;}
}
@media (max-width:768px) {
  .header-pro .row .col-1  a{margin-left: -66px;}
}
.Next{display: flex; justify-content: center; align-items: center; margin-top: 12px;}
.page-link {color: #7952b3;}
.page-link:focus{color: #7952b3; box-shadow: 0 0 0 0.25rem rgba(247, 234, 56, 0.767);}
footer{padding-bottom: 90px;}
.fab{ font-size: 35px;}
.fo{margin-left: 3%;  padding-top: 2%;}
.f-p{font-weight: 700; font-size: 30px;}
.col-6 .row .col-3 a{color: var(--bs-body-color);}
.co::after{opacity: 0;}